/* share style */

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* nav style */
header,body,main{
  background-color: #eef6ff;
}
body{
  padding: 0px;
  margin: 0px;
}
header {
  background-image: url(./Assets/Hero-bg.png);
  /* width: 1440px;
  height: 546px; */
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 0px 150px;

}
.logo{
    color: #4E47FF;
    font-family: Inter;
    font-weight: bolder;
    font-size: 70px;
}
.nav-button{
  background-color: #4E47FF;
  color: white; 
  font-size: 16px;
  font-weight: bold;
  padding: 12px 56px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.nav-button:hover{
    color: rgb(246, 6, 6);
}

.cool-title{
  text-align: center;
  font-size: 65px;
  font-weight: bold;
}
.button-stay{
  display: flex;
  justify-content: center;
}
.nav-button-stay{
  background-color: #4E47FF;
  color: white; 
  text-shadow:8px black;  
  font-size: 16px;
  font-weight: bold;
  padding: 12px 56px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.nav-button-stay:hover{
  color: rgb(221, 135, 6);
}
hr{
  box-shadow: 10px;
}
/* action style */
section {
  margin: 80px 0;
}

.action{
  display: flex;
  justify-content: space-around;
  padding-top: 268px;
  padding-right: 159px;
  padding-left: 141px;
  margin-bottom: 140px;
}
.nav-button-launch{
  background-color: #4E47FF;
  color: white; 
  text-shadow:8px black;  
  font-size: 16px;
  font-weight: bold;
  padding: 12px 56px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.nav-button-launch:hover{
  color: rgb(224, 6, 108);
}
.action-sayit-h{
  font-size: 42px;
  font-weight: bold;
}
.action-sayit-p{
  font-size: 24px;
  font-weight: regular;
}
.wc-mini{
  border-radius: 48px;
}
/* join style */

.join {
  background-color: #d5d7ec;
  border-radius: 24px;
  padding: 60px 20px;
  text-align: center;
  margin: 80px auto;
  max-width: 1100px;
}



.join-p{
  font-size: 38px;
  font-weight: bold;
  text-align: center;
}
.join-2{
  display: flex;
  justify-content: center;
  gap: 80px;
}
.join-2-users-h{
  color: #4E47FF;
}
.join-2-users{
  font-size: 80px;
  font-weight: bold;
}

.join-2-users-p{
  font-size: 20px;
  font-weight: regular;
  padding-bottom: 20px;
}
/* users say */
.what{
  text-align: center;
  font-size: 42px;
  font-weight: bold;
}
.user-say2{
  display: flex;
  justify-content: center;
  gap: 30px;
  border-radius: 10px;
  
  
}

.reviewer-info{
  display: flex;
  gap: 20px;
}
.loved{
  border: 5px solid white;
  background: white;
  border-radius: 10px;
  padding: 24px;
}
.title{
  font-size: 30px;
  font-weight: bold;
}
.content{
  font-size: 20px;
  font-weight:normal;
}
.reviewer-name{
  font-size: 15px;
  font-weight: 400;
}
.review-date{
  font-size: 15px;
  font-weight: 300;
}

/* lets style */
.lets{
  display: flex;
  justify-content: center;
  text-align: left;
  margin: 94px 150px;
}
.lets-get-h{
  font-size: 80px;
  font-weight: bold;
  
}



.nav-button-lets{
  background-color: #4E47FF;
  color: white; 
  text-shadow:8px black;  
  font-size: 16px;
  font-weight: bold;
  padding: 12px 56px;
  border-radius: 10px;
  border: none;
  cursor: pointer;

}
.nav-button-lets:hover{
  color: rgb(244, 9, 24);

}

.lets input[type="text"], input[type="email"],  textarea{
  display: block;
  width: 100%;
  padding: 10px 20px;
  height: 70px;
  border-radius: 10px;
  margin-bottom: 20px;
  border: none;

}
/* footer */
footer{
  /* margin: 130px 430px; */
  background-color: white;
  padding: 130px 430px;
}
.h3-logo{
  color: #4E47FF;
    font-family: Inter;
    font-weight: bold;
    font-size: 100px;
}

.h3-logo1,.h3-logo{
  text-align: center;
}
.footer-ul2{
  display: flex;
  justify-content: center;
  gap: 30px;
  list-style: none;
}
ul li a{
  text-decoration: none;
}
.nav-button, .nav-button-stay, .nav-button-launch, .nav-button-lets {
  background-color: #4E47FF;
  color: white;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 32px;
  border-radius: 8px;
  border: none;
  transition: background 0.3s;
}
.nav-button:hover,
.nav-button-stay:hover,
.nav-button-launch:hover,
.nav-button-lets:hover {
  background-color: aquamarine;
}


/* get free */
.focus-better{
  background-color: #f3f4ff75;
  border-radius: 20px;
  padding: 60px 20px;
  text-align: center;
  margin: 80px auto;
  max-width: 1100px;
}

.picture{
  display: flex;
  justify-content: center;
  margin-top: 30px;
  
}

